rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if true;
    }

    match /admins/{adminId} {
      allow read: if true;
      allow write: if false;
    }

    match /patients/{patientId} {
      allow read, write: if true;
    }

    match /sessions/{sessionId} {
      allow read, write: if true;
    }

    match /clinics/{clinicId} {
      allow read, write: if true;
    }

    match /surgeries/{surgeryId} {
      allow read, write: if true;
    }
  }
}
